<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('支店')}"></head>
<script>
function deleteCheck() {

	var id = $('#id').val();

    var result = window.confirm('本当に削除してもよろしいですか？');

    if(result) {
    	document.location.href = '/shitenMaster/delete?id=' + id;
    }
}

function returnDetail() {
	document.location.href = '/shitenMaster/returnDetail';

	return false;
}
</script>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('支店')}"></th:block>
	<div class="row justify-content-start">
		<form method="post" th:action="@{/shitenMaster/editCheck}" th:object="${shitenMasterForm}">
			<table class="table table-bordered">
				<th:block th:if="${id}">
				<tr>
					<td>
						<label>ID</label>
					</td>
					<td>
						<input type="text" readonly class="form-control-plaintext" id="id" name="id" th:field="*{id}">
					</td>
				</tr>
				</th:block>
				<th:block th:unless="${id}">
						<input type="hidden" class="form-control-plaintext" id="id" name="id" th:field="*{id}">
				</th:block>
				<tr>
					<td>
						<label>支店名</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="text" name="shitenname" th:field="*{shitenname}"><br>
						<span class="text-danger" th:if="${#fields.hasErrors('shitenname')}" th:errors="*{shitenname}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>郵便番号</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="text" name="postcode1" th:field="*{postcode1}">　ー　<input type="text" name="postcode2" th:field="*{postcode2}" onKeyUp="AjaxZip3.zip2addr('postcode1','postcode2','prefecture','address1','address2');"><br>
						<span class="text-danger" th:if="${#fields.hasErrors('postcode1')}" th:errors="*{postcode1}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>都道府県</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="text" name="prefecture" th:field="*{prefecture}"><br>
						<span class="text-danger" th:if="${#fields.hasErrors('prefecture')}" th:errors="*{prefecture}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>住所１</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="text" name="address1" th:field="*{address1}"><br>
						<span class="text-danger" th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>住所2</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="text" name="address2" th:field="*{address2}"><br>
						<span class="text-danger" th:if="${#fields.hasErrors('address2')}" th:errors="*{address2}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>電話番号</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="text" name="phonenumber1" th:field="*{phonenumber1}">　ー　<input type="text" name="phonenumber2" th:field="*{phonenumber2}"><br><br>
						<span class="text-danger" th:if="${#fields.hasErrors('phonenumber1')}" th:errors="*{phonenumber1}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>ATM数</label>
					</td>
					<td>
						<input type="number" name="atmcount" th:field="*{atmcount}"><br>
						<span class="text-danger" th:if="${#fields.hasErrors('atmcount')}" th:errors="*{atmcount}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>パーキングフラグ</label>
					</td>
					<td>
						<input type="checkbox" value="1" name="parkingflg" th:field="*{parkingflg}"><br>
						<span class="text-danger" th:if="${#fields.hasErrors('parkingflg')}" th:errors="*{parkingflg}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>備考</label>
					</td>
					<td>
						<input type="text" name="biko" th:field="*{biko}">
						<span class="text-danger" th:if="${#fields.hasErrors('biko')}" th:errors="*{biko}">エラー</span>
					</td>
				</tr>
			</table>

			<div class="mb-3">
				<input type="submit" value="確認" class="btn btn-outline-secondary">
				<a href="/shitenMaster/list" class="btn btn-outline-secondary" th:if="${shitenMasterForm.id == 0}">戻る</a>
				<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnDetail();" th:if="${shitenMasterForm.id != 0}">
				<input type="button" value="削除" class="btn btn-outline-secondary" onClick="deleteCheck();" th:if="${shitenMasterForm.id != 0}">
			</div>
		</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>