<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('支店')}"></head>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<script>
function returnEdit() {
	document.location.href = '/shitenMaster/returnEdit';

	return false;
}
</script>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('支店')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/shitenMaster/finish}" th:object="${shitenMasterForm}">
		<table class="table table-bordered">
			<th:block th:if="${id}">
			<tr>
				<td>
					<label>ID</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" id="id" name="id" th:field="*{id}">
				</td>
			</tr>
			</th:block>
			<th:block th:unless="${id}">
					<input type="hidden" class="form-control-plaintext" id="id" name="id" th:field="*{id}">
			</th:block>
			<th:block th:if="${id}">
			<tr>
				<td>
					<label>支店ID</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" id="shitenid" name="shitenid" th:field="*{shitenid}">
				</td>
			</tr>
			</th:block>
			<th:block th:unless="${shitenid}">
					<input type="hidden" class="form-control-plaintext" id="shitenid" name="shitenid" th:field="*{shitenid}">
			</th:block>
			<tr>
				<td>
					<label>名前</label>
				</td>
				<td>
					<span th:text="*{shitenname}"></span>
					<input type="hidden" name="shitenname" th:field="*{shitenname}"><br>
				</td>
			</tr>
			<tr>
				<td>
					<label>郵便番号</label>
				</td>
				<td>
					<span th:text="*{postcode1}"></span>-<span th:text="*{postcode2}"></span>
					<input type="hidden" name="postcode1" th:field="*{postcode1}"><br>
					<input type="hidden" name="postcode2" th:field="*{postcode2}"><br>
				</td>
			</tr>
			<tr>
				<td>
					<label>都道府県</label>
				</td>
				<td>
					<span th:text="*{prefecture}"></span>
					<input type="hidden" name="prefecture" th:field="*{prefecture}"><br>
				</td>
			</tr>
			<tr>
				<td>
					<label>住所１</label>
				</td>
				<td>
					<span th:text="*{address1}"></span>
					<input type="hidden" name="address1" th:field="*{address1}"><br>
				</td>
			</tr>
			<tr>
				<td>
					<label>住所２</label>
				</td>
				<td>
					<span th:text="*{address2}"></span>
					<input type="hidden" name="address2" th:field="*{address2}"><br>
				</td>
			</tr>
			<tr>
				<td>
					<label>電話番号</label>
				</td>
				<td>
					<span th:text="*{phonenumber1}"></span>-<span th:text="*{phonenumber2}"></span>
					<input type="hidden" name="phonenumber1" th:field="*{phonenumber1}"><br>
					<input type="hidden" name="phonenumber2" th:field="*{phonenumber2}"><br>
				</td>
			</tr>
			<tr>
				<td>
					<label>ATM数</label>
				</td>
				<td>
					<span th:text="*{atmcount}"></span>
					<input type="hidden" name="atmcount" th:field="*{atmcount}"><br>
				</td>
			</tr>
			<tr>
				<td>
					<label>パーキングフラグ</label>
				</td>
				<td>
					<span th:text="*{parkingflg}"></span>
					<input type="hidden" name="parkingflg" th:field="*{parkingflg}"><br>
				</td>
			</tr>
			<tr>
				<td>
					<label>備考</label>
				</td>
				<td>
					<span th:text="*{biko}"></span>
					<input type="hidden" name="biko" th:field="*{biko}">
				</td>
			</tr>
		</table>
		<input type="submit" value="送信" class="btn btn-outline-secondary">
		<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnEdit()">
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>