<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('支店')}">
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<script>
function returnEdit() {
	document.location.href = '/shitenMaster/returnEdit';

	return false;
}
</script>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('支店')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/shitenMaster/finish}" th:object="${shitenMasterForm}">

		<input type="hidden" name="id" th:field="*{id}">
		<input type="hidden" name="shitenid" th:field="*{shitenid}">
		支店名<input type="text" readonly class="form-control-plaintext" name="name" th:field="*{name}"><br>
		郵便番号１<input type="text" readonly class="form-control-plaintext" name="postcode1" th:field="*{postcode1}"><br>
		郵便番号２<input type="text" readonly class="form-control-plaintext" name="postcode2" th:field="*{postcode2}"><br>
		都道府県<input type="text" readonly class="form-control-plaintext" name="prefecture" th:field="*{prefecture}"><br>
		住所１<input type="text" readonly class="form-control-plaintext" name="address1" th:field="*{address1}"><br>
		住所２<input type="text" readonly class="form-control-plaintext" name="address2" th:field="*{address2}"><br>
		電話番号１<input type="text" readonly class="form-control-plaintext" name="phonenumber1" th:field="*{phonenumber1}"><br>
		電話番号２<input type="text" readonly class="form-control-plaintext" name="phonenumber2" th:field="*{phonenumber2}"><br>
		ATM数<input type="text" readonly class="form-control-plaintext" name="atmcount" th:field="*{atmcount}"><br>
		パーキングフラグ<input type="text" readonly class="form-control-plaintext" name="parkingflg" th:field="*{parkingflg}"><br>
		備考<input type="text" readonly class="form-control-plaintext" name="biko" th:field="*{biko}">

		<input type="submit" value="送信" class="btn btn-outline-secondary">
		<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnEdit()">
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>