<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('システム管理者情報一覧')}"></head>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('支店')}"></th:block>
	<div class="row justify-content-start">
	<a href="/shitenMaster/list" class="btn btn-outline-secondary">戻る</a>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>