<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('配属情報一覧')}"/>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('配属情報一覧')}"></th:block>
	<div class="row justify-content-start">
		<div class="w-100 m-2">
			<form method="post" th:action="@{/haizokuMaster/list}" th:object="${haizokuMasterListForm}">
			<table class="table-bordered w-100">
				<tr>
					<td class="p-2 text-center">
						<label class="m-0">支店</label>
					</td>
					<td class="p-2">
						<select class="w-100" name="shitenid">
							<option th:each="entity : ${optionMapList}" th:value="${entity.key}" th:text="${entity.value}" th:field="*{shitenid}"></option>
						</select>
					</td>
					<td class="p-2 text-center">
						<label class="m-0">名前</label>
					</td>
					<td class="p-2">
						<input class="w-100" type="text" name="koinname" th:value="${haizokuMasterListForm.koinname}">
					</td>
					<td class="p-2 text-center ">
						<input type="submit" value="検索" class="btn btn-outline-secondary">
					</td>
				</tr>
			</table>
			</form>
		</div>
		<div class="w-100 m-2">
			<!-- ページング -->
			<form method="post" th:action="@{/haizokuMaster/pagenate}" th:object="${page}">
			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    <li th:if="${!page.first}" class="page-item">
			      <a th:href="@{/haizokuMaster/pagenate(page = ${page.number} - 1)}" class="page-link" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      </a>
			    </li>
			    <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" class="page-item">
			    	<a th:if="${i} == ${page.number}" th:text="${i + 1}" class="page-link"><span th:text="${i+1}">1</span></a>
			    	<a th:if="${i} != ${page.number}" th:href="@{/haizokuMaster/pagenate(page = ${i})}" class="page-link"><span th:text="${i+1}">1</span></a>
			    </li>
			    <li th:if="${!page.last}" class="page-item">
			      <a th:href="@{/haizokuMaster/pagenate(page = (${page.number} + 1))}" class="page-link" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Next</span>
			      </a>
			    </li>
			  </ul>
			</nav>
			</form>
			<!-- ページング -->
		</div>
		<th:content th:each="entity:${list}">
		    <th:content th:if="${!#strings.isEmpty(entity.shitenname)}">
	    	<p th:text="${entity.shitenname}"></p>
	    	<p th:text="${entity.totalPrice}"></p>
	    	<p th:text="${entity.countKeiyaku}"></p>
	    	<p th:text="${entity.shitenRank}"></p>
	    	<div style="border: solid;">
		    </th:content>
				<div class="card mb-3 mr-1" style="max-width: 375px;">
				  <div class="row no-gutters">
				    <div class="col-lg-6">
				      <img th:src="${entity.filedataString}" class="card-img" alt="...">
				    </div>
				    <div class="col-lg-6">
				      <div class="card-body">
				        <h4 class="card-title">
				        	<a th:href="@{'/koinMaster/detail?id=' + ${entity.id}}" th:text="${entity.koinname}">
				        	</a>
				        </h4>
				        <p class="card-text"><a th:href="@{'/koinMaster/detail?id=' + ${entity.id}}" th:text="${entity.yakushokuname}"></a></p>
				      </div>
				    </div>
				  </div>
				</div>
		    <th:content th:if="${entity.nextShitenIdSameFlg == 1}">
		    <p>test</p>
		    </div>
		    </th:content>
		</th:content>
<!-- 		<table class="table table-striped table-sm">
		    <tr>
		      <th>支店名</th>
		      <th>年齢</th>
		      <th>名前</th>
		      <th>役職</th>
		    </tr>
		    <tr th:each="entity:${list}">
		      <td><a th:href="@{'/shitenMaster/detail?id=' + ${entity.shitenmaster.id}}" th:text="${entity.shitenmaster.shitenname}">name</a></td>
 		      <td><a th:href="@{'/koinMaster/detail?id=' + ${entity.id}}" th:text="${entity.age}">name</a></td>
		      <td><a th:href="@{'/koinMaster/detail?id=' + ${entity.id}}" th:text="${entity.koinname}">name</a></td>
		      <td><a th:href="@{'/koinMaster/detail?id=' + ${entity.id}}" th:text="${entity.yakushokuname}">name</a></td>
		    </tr>
	    </table> -->
		<div class="w-100 m-2">
			<!-- ページング -->
			<form method="post" th:action="@{/haizokuMaster/pagenate}" th:object="${page}">
			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    <li th:if="${!page.first}" class="page-item">
			      <a th:href="@{/haizokuMaster/pagenate(page = ${page.number} - 1)}" class="page-link" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      </a>
			    </li>
			    <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" class="page-item">
			    	<a th:if="${i} == ${page.number}" th:text="${i + 1}" class="page-link"><span th:text="${i+1}">1</span></a>
			    	<a th:if="${i} != ${page.number}" th:href="@{/haizokuMaster/pagenate(page = ${i})}" class="page-link"><span th:text="${i+1}">1</span></a>
			    </li>
			    <li th:if="${!page.last}" class="page-item">
			      <a th:href="@{/haizokuMaster/pagenate(page = (${page.number} + 1))}" class="page-link" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Next</span>
			      </a>
			    </li>
			  </ul>
			</nav>
			</form>
			<!-- ページング -->
		</div>
	    <a href="/" class="btn btn-outline-secondary">戻る</a>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>