<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('行員')}"></head>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
<th:block th:replace="~{layout/component :: container_top('行員')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/koinMaster/finish}" th:object="${koinMasterForm}">
		<table class="table table-bordered">
			<tr>
				<td>
					<label>ID</label>
				</td>
				<td>
					<span th:text="*{id}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>名前</label>
				</td>
				<td>
					<span th:text="*{koinname}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>年齢</label>
				</td>
				<td>
					<span th:text="*{age}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>部署</label>
				</td>
				<td>
					<span th:text="*{bushoname}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>支店</label>
				</td>
				<td>
					<span th:text="*{shitenname}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>入社日</label>
				</td>
				<td>
					<span th:text="*{nyushastartdate}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>役職</label>
				</td>
				<td>
					<span th:text="*{yakushokuname}"></span>
				</td>
			</tr>
		</table>
		<div class="mb-3">
			<a th:href="@{'/koinMaster/edit?id=' + ${koinMasterForm.id}}" class="btn btn-outline-secondary">編集</a>
			<a href="/koinMaster/list" class="btn btn-outline-secondary">戻る</a>
		</div>
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>