<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('システム管理者情報一覧')}"></head>
<script>
function deleteCheck() {

	var id = $('#id').val();

    var result = window.confirm('本当に削除してもよろしいですか？');

    if(result) {
    	document.location.href = '/koinMaster/delete?id=' + id;
    }
}

function returnDetail() {
	document.location.href = '/koinMaster/returnDetail';

	return false;
}
</script>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
<th:block th:replace="~{layout/component :: container_top('行員')}"></th:block>
	<div class="row justify-content-start">
		<form method="post" th:action="@{/koinMaster/editCheck}" th:object="${koinMasterForm}">
			<table class="table table-bordered">
				<th:block th:if="${id}">
				<tr>
					<td>
						<label>ID</label>
					</td>
					<td>
						<input type="text" readonly class="form-control-plaintext" id="id" name="id" th:field="*{id}">
					</td>
				</tr>
				</th:block>
				<th:block th:unless="${id}">
						<input type="hidden" class="form-control-plaintext" id="id" name="id" th:field="*{id}">
				</th:block>
				<tr>
					<td>
						<label>名前</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="text" name="koinname" th:field="*{koinname}">
						<span class="text-danger" th:if="${#fields.hasErrors('koinname')}" th:errors="*{koinname}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>年齢</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="number" name="age" th:field="*{age}">
						<span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>部署</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<select name="busho">
							<option th:each="entity : ${bushoList}" th:value="${entity.key}" th:text="${entity.value}" th:field="*{busho}"></option>
						</select>
						<span class="text-danger" th:if="${#fields.hasErrors('busho')}" th:errors="*{busho}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>支店</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<select name="shitenid">
							<option th:each="entity : ${optionMapList}" th:value="${entity.key}" th:text="${entity.value}" th:field="*{shitenid}"></option>
						</select>
						<input type="hidden" name="shitenname" th:field="*{shitenname}">
						<span class="text-danger" th:if="${#fields.hasErrors('shitenid')}" th:errors="*{shitenid}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>入社日</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="date" name="nyushastartdate" th:field="*{nyushastartdate}">
						<span th:if="${#fields.hasErrors('nyushastartdate')}" th:errors="*{nyushastartdate}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>配属日</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="date" name="haizokustartdate" th:field="*{haizokustartdate}">
						<span th:if="${#fields.hasErrors('haizokustartdate')}" th:errors="*{haizokustartdate}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>役職</label>
					</td>
					<td>
						<select name="yakushoku">
							<option th:each="entity : ${yakushokuList}" th:value="${entity.key}" th:text="${entity.value}" th:field="*{yakushoku}"></option>
						</select>
						<span class="text-danger" th:if="${#fields.hasErrors('yakushoku')}" th:errors="*{yakushoku}">エラー</span>
					</td>
				</tr>
			</table>
			<div class="mb-3">
				<input type="submit" value="確認" class="btn btn-outline-secondary">
				<a href="/koinMaster/list" class="btn btn-outline-secondary" th:if="${#strings.isEmpty(koinMasterForm.id)}">戻る</a>
				<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnDetail();" th:if="${!#strings.isEmpty(koinMasterForm.id)}">
				<input type="button" value="削除" class="btn btn-outline-secondary" onClick="deleteCheck();" th:if="${!#strings.isEmpty(koinMasterForm.id)}">
			</div>
		</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>