<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta charset="UTF-8" />
<title>Hello Thymeleaf</title>
</head>
<script>
function deleteCheck() {

	var id = $('#id').val();

    var result = window.confirm('本当に削除してもよろしいですか？');

    if(result) {
    	document.location.href = '/koinMaster/delete?id=' + id;
    }
}

function returnDetail() {
	document.location.href = '/koinMaster/returnDetail';

	return false;
}
</script>
<body>
<div class="col-12 col-sm-12 col-lg-12">
	<header class="header my-5">
		<a href="/"><img id="header_logo" src="/images/logo.png"></a>
	</header>
</div>
<script src="https://kit.fontawesome.com/8925a3b56e.js" crossorigin="anonymous"></script>
<div class="container">
	<hr>
	<div class="font-weight-bold my-3">
		<i class="far fa-edit pr-2 text-primary"></i>システム管理者情報一覧　編集
	</div>
	<hr>
	<div class="row justify-content-start">
		<form method="post" th:action="@{/koinMaster/editCheck}" th:object="${koinMasterForm}">
			<table class="table table-bordered">
				<tr>
					<td>
						<label>ID</label>
					</td>
					<td>
						<input type="text" readonly class="form-control-plaintext" id="id" name="id" th:field="*{id}">
					</td>
				</tr>
				<tr>
					<td>
						<label>名前</label>
					</td>
					<td>
						<input type="text" name="name" th:field="*{name}">
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>年齢</label>
					</td>
					<td>
						<input type="number" name="age" th:field="*{age}">
						<span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">エラー</span>
					</td>
				</tr>
			</table>
			<div class="mb-3">
				<input type="submit" value="確認" class="btn btn-outline-secondary">
				<a href="/koinMaster/list" class="btn btn-outline-secondary" th:if="${#strings.isEmpty(koinMasterForm.id)}">戻る</a>
				<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnDetail();" th:if="${!#strings.isEmpty(koinMasterForm.id)}">
				<input type="button" value="削除" class="btn btn-outline-secondary" onClick="deleteCheck();" th:if="${!#strings.isEmpty(koinMasterForm.id)}">
			</div>
		</form>
	</div>
</div>
<footer class="footer bg-secondary">
</footer>
</body>
</html>