<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('行員')}"></head>
<script>
function returnEdit() {
	document.location.href = '/koinMaster/returnEdit';

	return false;
}
</script>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
<th:block th:replace="~{layout/component :: container_top('行員')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/koinMaster/finish}" th:object="${koinMasterForm}">
		<table class="table table-bordered">
			<tr>
				<td>
					<label>ID</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" name="id" th:field="*{id}">
					<input type="hidden" name="id" th:field="*{id}">
				</td>
			</tr>
			<tr>
				<td>
					<label>名前</label>
				</td>
				<td>
					<span th:text="*{koinname}"></span>
					<input type="hidden" name="koinname" th:field="*{koinname}">
				</td>
			</tr>
			<tr>
				<td>
					<label>年齢</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" name="age" th:field="*{age}">
					<input type="hidden" name="age" th:field="*{age}">
				</td>
			</tr>
			<tr>
				<td>
					<label>部署</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" name="busho" th:value="*{busho}" th:field="*{bushoname}">
					<input type="hidden" name="busho" th:field="*{busho}">
				</td>
			</tr>
			<tr>
				<td>
					<label>支店</label>
				</td>
				<td>
					<span th:text="*{shitenname}"></span>
					<input type="hidden" name="shitenid" th:field="*{shitenid}">
				</td>
			</tr>
			<tr>
				<td>
					<label>入社日</label>
				</td>
				<td>
					<span th:text="*{nyushastartdate}"></span>
					<input type="hidden" name="nyushastartdate" th:field="*{nyushastartdate}">
				</td>
			</tr>
			<tr>
				<td>
					<label>配属日</label>
				</td>
				<td>
					<span th:text="*{haizokustartdate}"></span>
					<input type="hidden" name="haizokustartdate" th:field="*{haizokustartdate}">
				</td>
			</tr>
			<tr>
				<td>
					<label>役職</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" name="yakushoku" th:value="*{yakushoku}" th:field="*{yakushokuname}">
					<input type="hidden" name="yakushoku" th:field="*{yakushoku}">
				</td>
			</tr>
		</table>
		<div class="mb-3">
			<input type="submit" value="送信" class="btn btn-outline-secondary">
			<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnEdit()">
		</div>
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>