<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('行員')}">
<script>
function returnEdit() {
	document.location.href = '/koinMaster/returnEdit';

	return false;
}
</script>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
<th:block th:replace="~{layout/component :: container_top('行員')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/koinMaster/finish}" th:object="${koinMasterForm}">
		<input type="text" readonly class="form-control-plaintext" name="id" th:field="*{id}">
		<input type="text" readonly class="form-control-plaintext" name="koinid" th:field="*{koinid}">
		<input type="text" readonly class="form-control-plaintext" name="name" th:field="*{name}">
		<input type="text" readonly class="form-control-plaintext" name="age" th:field="*{age}">
		<input type="text" readonly class="form-control-plaintext" name="busho" th:field="*{busho}">
		<input type="text" readonly class="form-control-plaintext" name="shitenid" th:field="*{shitenid}">
		<div class="mb-3">
			<input type="submit" value="送信" class="btn btn-outline-secondary">
			<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnEdit()">
		</div>
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>