<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div th:fragment="head(title)" th:remove="tag">
		<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
		<meta charset="UTF-8" />
		<title th:text="${title}"></title>
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script src="https://ajaxzip3.github.io/ajaxzip3.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		</head>
	</div>

	<div th:fragment="header" th:remove="tag">
		<div class="col-12 col-sm-12 col-lg-12">
			<div id="login_status">
				<form method="post" th:action="@{/logout}">
				<ul class="list-group list-group-horizontal list-unstyled m-3 float-right">
					<li class="pr-3" sec:authorize="hasRole('ROLE_USER')">一般</li>
					<li class="pr-3" sec:authorize="hasRole('ROLE_ADMIN')">管理者</li>
					<li class="pr-3" th:text="${userName}"></li>
					<li><input type="submit" value="ログアウト" class="btn btn-outline-secondary"></li>
				</ul>
				</form>
			</div>
			<header class="header my-5">
				<a href="/"><img id="header_logo" src="/images/logo.png"></a>
			</header>
		</div>
		<script src="https://kit.fontawesome.com/8925a3b56e.js" crossorigin="anonymous"></script>
	</div>

	<div th:fragment="container_top(text)" th:remove="tag">
		<hr>
		<div class="font-weight-bold my-3">
			<i class="far fa-list-alt pr-2 text-primary"></i><span th:text="${text}"></span>
		</div>
		<hr>
	</div>

	<div th:fragment="footer" th:remove="tag">
		<footer class="footer my-5">
			<p class="text-secondary">©️BANKBANK</p>
		</footer>
	</div>
</body>
</html>