<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<head>
<meta charset="UTF-8" />
<title>Hello Thymeleaf</title>
</head>
<script>
function returnEdit() {
	document.location.href = '/systemUser/returnEdit';

	return false;
}
</script>
<body>
<div class="col-12 col-sm-12 col-lg-12">
	<header class="header my-5">
		<a href="/"><img id="header_logo" src="/images/logo.png"></a>
	</header>
</div>
<script src="https://kit.fontawesome.com/8925a3b56e.js" crossorigin="anonymous"></script>
<div class="container">
	<hr>
	<div class="font-weight-bold my-3">
		<i class="far fa-edit pr-2 text-primary"></i>システム管理者情報一覧　確認
	</div>
	<hr>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/systemUser/finish}" th:object="${systemUserForm}">
		<input type="text" readonly class="form-control-plaintext" name="id" th:field="*{id}">
		<input type="text" readonly class="form-control-plaintext" name="name" th:field="*{name}">
		<input type="text" readonly class="form-control-plaintext" name="age" th:field="*{age}">
		<div class="mb-3">
			<input type="submit" value="送信" class="btn btn-outline-secondary">
			<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnEdit()">
		</div>
	</form>
	</div>
</div>
<footer class="footer bg-secondary">
</footer>
</body>
</html>