<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('システム管理者情報一覧')}"></head>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('システム管理者情報一覧')}"></th:block>
	<div class="row justify-content-start">
		<form method="post" th:action="@{/systemUser/editCheck}" th:object="${systemUserForm}">
			<table class="table table-bordered">
				<th:block th:if="${id}">
				<tr>
					<td>
						<label>ID</label>
					</td>
					<td>
						<input type="text" readonly class="form-control-plaintext" id="id" name="id" th:field="*{id}">
					</td>
				</tr>
				</th:block>
				<th:block th:unless="${id}">
						<input type="hidden" class="form-control-plaintext" id="id" name="id" th:field="*{id}">
				</th:block>
				<tr>
					<td><label>行員</label></td>
					<td>
						<select name="koinid">
							<option th:each="entity : ${koinList}" th:value="${entity.key}" th:text="${entity.value}" th:selected="${entity.key} == *{koinid}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>ログインID</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="text" name="loginid" th:field="*{loginid}">
						<span class="text-danger" th:if="${#fields.hasErrors('loginid')}" th:errors="*{loginid}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>パスワード</label>
						<span class="badge badge-danger">必須</span>
					</td>
					<td>
						<input type="text" name="password" th:field="*{password}">
						<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">エラー</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>権限</label>
							<span class="badge badge-danger">必須</span>
						</td>
					<td>
						<input type="radio" value="ROLE_ADMIN" name="role" th:field="*{role}" th:text="${role == 'ROLE_ADMIN'} ? 'checked' : '' ">ROLE_ADMIN　
						<input type="radio" value="ROLE_USER" name="role" th:field="*{role}" th:text="${role == 'ROLE_USER'} ? 'checked' : '' ">ROLE_USER
						<span class="text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">エラー</span>
					</td>
				</tr>
			</table>
			<div class="mb-3">
				<input type="submit" value="確認" class="btn btn-outline-secondary">
				<a href="/systemUser/list" class="btn btn-outline-secondary" th:if="${systemUserForm.id == 0}">戻る</a>
				<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnDetail();" th:if="${systemUserForm.id != 0}">
				<input type="button" value="削除" class="btn btn-outline-secondary" onClick="deleteCheck();" th:if="${systemUserForm.id != 0}">
			</div>
		</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>