<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('システム管理者情報一覧')}"></head>
<script>
function returnEdit() {
	document.location.href = '/systemUser/returnEdit';

	return false;
}
</script>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('システム管理者情報一覧')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/systemUser/finish}" th:object="${systemUserForm}">
		<table class="table table-bordered">
			<th:block th:if="${id}">
			<tr>
				<td>
					<label>ID</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" id="id" name="id" th:field="*{id}">
				</td>
			</tr>
			</th:block>
			<th:block th:unless="${id}">
					<input type="hidden" class="form-control-plaintext" id="id" name="id" th:field="*{id}">
			</th:block>
			<tr>
				<td>
					<label>行員</label>
				</td>
				<td>
					<span th:text="*{koinname}"></span>
					<input type="hidden" name="koinid" th:field="*{koinid}">
				</td>
			</tr>
			<tr>
				<td>
					<label>ログインID</label>
				</td>
				<td>
					<span th:text="*{loginid}"></span>
					<input type="hidden" name="loginid" th:field="*{loginid}">
				</td>
			</tr>
			<tr>
				<td>
					<label>パスワード</label>
				</td>
				<td>
					<span th:text="*{password}"></span>
					<input type="hidden" name="password" th:field="*{password}">
				</td>
			</tr>
			<tr>
				<td>
					<label>権限</label>
				</td>
				<td>
					<span th:text="*{role}"></span>
					<input type="hidden" name="role" th:field="*{role}">
				</td>
			</tr>
		</table>
		<div class="mb-3">
		<input type="submit" value="送信" class="btn btn-outline-secondary">
		<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnEdit()">
		</div>
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>