<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('対応状況一覧')}">
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('対応状況一覧')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/taioMaster/finish}" th:object="${taioMasterForm}">
		<table class="table table-bordered">
			<tr>
				<td>
					<label>ID</label>
				</td>
				<td>
					<span th:text="*{id}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>対応ID</label>
				</td>
				<td>
					<span th:text="*{taioid}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>ID</label>
				</td>
				<td>
					<span th:text="*{id}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>対応日</label>
				</td>
				<td>
					<span th:text="*{taiostartdate}"></span>〜<span th:text="*{taioenddate}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>顧客ID</label>
				</td>
				<td>
					<span th:text="*{clientid}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>支店ID</label>
				</td>
				<td>
					<span th:text="*{shitenid}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>行員ID</label>
				</td>
				<td>
					<span th:text="*{koinid}"></span>
				</td>
			</tr>
		</table>
		<a th:href="@{'/taioMaster/edit?id=' + ${taioMasterForm.id}}" class="btn btn-outline-secondary">編集</a>
		<a href="/taioMaster/list" class="btn btn-outline-secondary">戻る</a>
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>