<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('システム管理者情報一覧')}">
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<script>
function returnEdit() {
	document.location.href = '/taioMaster/returnEdit';

	return false;
}
</script>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('対応状況一覧')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/taioMaster/finish}" th:object="${taioMasterForm}">

		<input type="hidden" name="id" th:field="*{id}">
		<input type="hidden" name="shitenid" th:field="*{shitenid}">
		対応日<input type="text" readonly class="form-control-plaintext" name="taiostartdate" th:field="*{taiostartdate}"><br>
		〜
		<input type="text" readonly class="form-control-plaintext" name="taioenddate" th:field="*{taioenddate}"><br>
		顧客<input type="text" readonly class="form-control-plaintext" name="clientid" th:field="*{clientid}"><br>
		支店<input type="text" readonly class="form-control-plaintext" name="shitenid" th:field="*{shitenid}"><br>
		行員<input type="text" readonly class="form-control-plaintext" name="koinid" th:field="*{koinid}">

		<input type="submit" value="送信" class="btn btn-outline-secondary">
		<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnEdit()">
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>