<!doctype html>
<head th:replace="~{layout/component :: head('お知らせ')}"></head>
<script>
function deleteCheck() {

	var id = $('#id').text();

    var result = window.confirm('本当に削除してもよろしいですか？');

    if(result) {
    	document.location.href = '/news/delete?id=' + id;
    }
}
</script>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('お知らせ')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/news/finish}" th:object="${newsForm}">
		<table class="table table-bordered">
			<tr>
				<td>
					<label>ID</label>
				</td>
				<td>
					<span id="id" th:text="*{id}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>タイトル</label>
				</td>
				<td>
					<span th:text="*{title}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>内容</label>
				</td>
				<td>
					<span th:text="*{content}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>公開開始日</label>
				</td>
				<td>
					<span th:text="*{kokaistartdate}"></span>
					〜
					<span th:text="*{kokaienddate}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>対象支店</label>
				</td>
				<td>
					<span th:text="*{shitenid}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>公開</label>
				</td>
				<td>
					<span th:text="*{kokaiflg}"></span>
				</td>
			</tr>
		</table>
		<div class="mb-3">
			<a th:href="@{'/news/edit?id=' + ${newsForm.id}}" class="btn btn-outline-secondary">編集</a>
			<a href="/news/list" class="btn btn-outline-secondary">戻る</a>
			<th:block th:if="${!#strings.isEmpty(newsForm.id)}">
			<input type="button" value="削除" class="btn btn-outline-secondary" onClick="deleteCheck();">
			</th:block>
		</div>
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>