<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('勤怠一覧')}">
</head>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('勤怠一覧')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/kintaiMaster/finish}" th:object="${kintaiMasterForm}">
		<table class="table table-bordered">
			<tr>
				<td>
					<label>ID</label>
				</td>
				<td>
					<span th:text="*{id}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>タイムカードID</label>
				</td>
				<td>
					<span th:text="*{timecardid}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>行員ID</label>
				</td>
				<td>
					<span th:text="*{koinid}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>勤務日</label>
				</td>
				<td>
					<span th:text="*{workdate}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>勤務時間</label>
				</td>
				<td>
					<span th:text="*{workstartdate}"></span>〜<span th:text="*{workenddate}"></span>
				</td>
			</tr>
		</table>
		<div class="mb-3">
			<a th:href="@{'/kintaiMaster/edit?id=' + ${kintaiMasterForm.id}}" class="btn btn-outline-secondary">編集</a>
			<a href="/kintaiMaster/list" class="btn btn-outline-secondary">戻る</a>
		</div>
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>