<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('タイムカード')}"></head>
<script>
function entryCheck(id, workstarttime) {

	var resultString = '';

    if(workstarttime == 'null' || workstarttime == null) {
    	resultString = '打刻の状態を「出勤」にしてもよろしいですか？';
    }else {
    	resultString = '打刻の状態を「打刻済み」にしてもよろしいですか？';
    }

    var result = window.confirm(resultString);

    if(result) {
    	document.location.href = '/timecard/entry?id=' + id;
    }
}
</script>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('タイムカード')}"></th:block>
	<div class="row justify-content-start">
		<table class="table table-striped table-sm">
		    <tr>
		      <th></th>
		      <th>ID</th>
		      <th>氏名</th>
		      <th>出勤</th>
		      <th>退勤</th>
		    </tr>
		    <tr th:each="entity:${list}">
		      <td th:if="${entity[2] == null}"><input type="button" value="出勤" th:attr="onclick='entryCheck(' + ${entity[0]} + ', \'' + ${entity[2]} + '\');'"></td>
		      <td th:if="${entity[2] != null && entity[3] == null}"><input type="button" value="退勤" th:attr="onclick='entryCheck(' + ${entity[0]} + ', \'' + ${entity[2]} + '\');'"></td>
		      <td th:if="${entity[2] != null && entity[3] != null}"><input type="button" value="打刻済み" disabled></td>
		      <td th:text="${entity[0]}" id="id" th:field="*{id}">id</td>
		      <td th:text="${entity[1]}">name</td>
		      <td th:text="${entity[2]}">age</td>
		      <td th:text="${entity[3]}">age</td>
		    </tr>
	    </table>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>