<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('契約一覧')}"></head>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('契約詳細')}"></th:block>
	<a href="/keiyakuMaster/report" class="btn btn-outline-secondary mb-3">帳票出力</a>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/keiyakuMaster/finish}" th:object="${keiyakuMasterForm}">
		<table class="table table-bordered">
			<tr>
				<td>
					<label>ID</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" name="id" th:field="*{id}">
				</td>
			</tr>
			<tr>
				<td>
					<label>区分</label>
				</td>
				<td th:text="*{keiyakukbnlabel}">
					<input type="hidden" class="form-control-plaintext" name="keiyakukbn" th:field="*{keiyakukbn}">
				</td>
			</tr>
			<tr>
				<td>
					<label>商品</label>
				</td>
				<td th:text="*{shohinname}">
					<input type="hidden" class="form-control-plaintext" name="shohinid" th:field="*{shohinid}">
				</td>
			</tr>
			<tr>
				<td>
					<label>金額</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" name="price" th:field="*{price}">
				</td>
			</tr>
			<tr>
				<td>
					<label>金利</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" name="kinri" th:field="*{kinri}">
				</td>
			</tr>
			<tr>
				<td>
					<label>返済期限</label>
				</td>
				<td>
					<input type="text" readonly class="form-control-plaintext" name="returnlimit" th:field="*{returnlimit}">
				</td>
			</tr>
			<tr>
				<td>
					<label>資金使途</label>
				</td>
				<td th:text="*{shikinshitotext}">
					<input type="hidden" class="form-control-plaintext" name="shikinshitotext" th:field="*{shikinshitotext}">
				</td>
			</tr>
			<tr>
				<td>
					<label>効果と展望</label>
				</td>
				<td dialect:brtext="*{kokatext}">
					<input type="hidden" class="form-control-plaintext" name="kokatext" th:field="*{kokatext}">
				</td>
			</tr>
			<tr>
				<td>
					<label>顧客</label>
				</td>
				<td th:text="*{clientname}">
					<input type="hidden" class="form-control-plaintext" name="clientid" th:field="*{clientid}">
				</td>
			</tr>
			<tr>
				<td>
					<label>行員</label>
				</td>
				<td th:text="*{koinname}">
					<input type="hidden" class="form-control-plaintext" name="koinid" th:field="*{koinid}">
				</td>
			</tr>
			<tr>
				<td>
					<label>添付ファイル</label>
				</td>
				<td>
					<img th:src="${'data:' + contenttype + ';base64,'+image}" class="mw-100" alt="">
					<input type="hidden" name="filedata" th:field="*{filedata}">
				</td>
			</tr>
			<tr>
				<td>
					<label>稟議推薦事由</label>
				</td>
				<td dialect:brtext="*{ringitext}">
					<input type="hidden" class="form-control-plaintext" name="ringi" th:field="*{ringitext}">
				</td>
			</tr>
		</table>
		<div class="mb-3">
			<a th:href="@{'/keiyakuMaster/edit?id=' + ${keiyakuMasterForm.id}}" class="btn btn-outline-secondary">編集</a>
			<a href="/keiyakuMaster/list" class="btn btn-outline-secondary">戻る</a>
		</div>
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>