header, footer {
	height: 100px;
	text-align: center;
}

#login_content {
	heigh: 200px;
	width: 320px;
	margin: 0 auto;
}

#login_status {
	height: 50px;
}

#header_logo {
	height: 100px;
	width: 100px;
}

.menu_container {
	margin: 5px;
}

#shoninDiv {
	height: 50px;
	width: 600px;
	border: solid 1px;
	background-color: yellow;
	margin: 0 auto;
}
