<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<meta charset="UTF-8" />
<title>Hello Thymeleaf</title>
</head>
<body>
<div class="row">
	<div class="col-12 col-sm-12 col-lg-12">
		<header class="header my-5">
			<a href="/"><img id="header_logo" src="/images/logo.png"></a>
		</header>
	</div>

	<div class="col-12 col-sm-6 col-lg-3">
		<div class="menu_container list-group">
			<a href="/form/list" class="list-group-item list-group-item-action active disabled">配属情報</a>
			<a href="/form/list" class="list-group-item list-group-item-action">配属情報一覧</a>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3">
		<div class="menu_container list-group">
			<a href="/form/list" class="list-group-item list-group-item-action active disabled">勤怠情報</a>
			<a href="/form/list" class="list-group-item list-group-item-action">勤怠一覧</a>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3">
		<div class="menu_container list-group">
			<a href="/form/list" class="list-group-item list-group-item-action active disabled">マスタ情報</a>
			<a href="/shitenMaster/list" class="list-group-item list-group-item-action">支店</a>
			<a href="/form/list" class="list-group-item list-group-item-action">行員</a>
			<a href="/form/list" class="list-group-item list-group-item-action">顧客</a>
			<a href="/form/list" class="list-group-item list-group-item-action">商品</a>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3">
		<div class="menu_container list-group">
			<a href="/systemUser/list" class="list-group-item list-group-item-action active disabled">システム管理者情報</a>
			<a href="/systemUser/list" class="list-group-item list-group-item-action">システム管理者情報一覧</a>
		</div>
	</div>

	<div class="col-12 col-sm-12 col-lg-12">
		<footer class="footer bg-secondary">
			<div>
				<p class="text-white">© BANK BANK️️</p>
			</div>
		</footer>
	</div>
</div>
</body>
</html>