<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('ログイン')}">
<body>
<div class="container">
	<div class="text-center">
 		<form method="post" th:action="@{/index}">
		<div id="login_content">
			<img class="m-5" id="header_logo" src="/images/logo.png">
			<table class="table table-bordered">
				<tr>
					<td>
						<label>ログインID</label>
					</td>
					<td>
						<input type="text" name="username" id="username">
					</td>
				</tr>
				<tr>
					<td>
						<label>パスワード</label>
					</td>
					<td>
						<input type="password" name="password" id="username">
					</td>
				</tr>
			</table>
			<div class="mb-3">
				<input type="submit" value="ログイン" class="btn btn-outline-secondary">
			</div>
		</div>
    	</form>
	</div>
</div>
</body>
</html>