<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('商品')}"></head>
<script>
function returnEdit() {
	document.location.href = '/shohinMaster/returnEdit';

	return false;
}
</script>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('商品')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/shohinMaster/finish}" th:object="${shohinMasterForm}">
		<input type="text" readonly class="form-control-plaintext" name="id" th:field="*{id}">
		<input type="text" readonly class="form-control-plaintext" name="shohinid" th:field="*{shohinid}">
		<input type="text" readonly class="form-control-plaintext" name="name" th:field="*{name}">
		<div class="mb-3">
			<input type="submit" value="送信" class="btn btn-outline-secondary">
			<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnEdit()">
		</div>
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>