<!doctype html>
<head th:replace="~{layout/component :: head('顧客')}"></head>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('顧客')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/clientMaster/finish}" th:object="${clientMasterForm}">
		<table class="table table-bordered">
			<tr>
				<td>
					<label>ID</label>
				</td>
				<td>
					<span th:text="*{id}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>顧客ID</label>
				</td>
				<td>
					<span th:text="*{clientid}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>顧客名</label>
				</td>
				<td>
					<span th:text="*{name}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>代表者名</label>
				</td>
				<td>
					<span th:text="*{daihyoname}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>代表者年齢</label>
				</td>
				<td>
					<span th:text="*{daihyoage}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>与信レベル</label>
				</td>
				<td>
					<span th:text="*{yoshinlevel}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>郵便番号</label>
				</td>
				<td>
					<span th:text="*{postcode1}"></span>-<span th:text="*{postcode2}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>都道府県</label>
				</td>
				<td>
					<span th:text="*{prefecture}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>住所１</label>
				</td>
				<td>
					<span th:text="*{address1}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>住所２</label>
				</td>
				<td>
					<span th:text="*{address2}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>電話番号</label>
				</td>
				<td>
					<span th:text="*{phonenumber1}"></span>-<span th:text="*{phonenumber2}"></span>
				</td>
			</tr>
		</table>
		<a th:href="@{'/clientMaster/edit?id=' + ${clientMasterForm.id}}" class="btn btn-outline-secondary">編集</a>
		<a href="/clientMaster/list" class="btn btn-outline-secondary">戻る</a>
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>