<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/component :: head('システム管理者情報一覧')}"></head>
<body>
<th:block th:replace="~{layout/component :: header}"></th:block>
<script>
function returnEdit() {
	document.location.href = '/clientMaster/returnEdit';

	return false;
}
</script>
<div class="container">
	<th:block th:replace="~{layout/component :: container_top('顧客')}"></th:block>
	<div class="row justify-content-start">
	<form method="post" th:action="@{/clientMaster/finish}" th:object="${clientMasterForm}">

		<input type="hidden" name="id" th:field="*{id}">
		<input type="hidden" name="clientid" th:field="*{clientid}">
		顧客名<input type="text" readonly class="form-control-plaintext" name="name" th:field="*{name}"><br>
		代表者名<input type="text" readonly class="form-control-plaintext" name="daihyoname" th:field="*{daihyoname}"><br>
		代表者年齢<input type="text" readonly class="form-control-plaintext" name="daihyoage" th:field="*{daihyoage}"><br>
		与信レベル<input type="text" readonly class="form-control-plaintext" name="yoshinlevel" th:field="*{yoshinlevel}"><br>
		郵便番号<input type="text" readonly class="form-control-plaintext" name="postcode1" th:field="*{postcode1}">ー<input type="text" readonly class="form-control-plaintext" name="postcode2" th:field="*{postcode2}"><br>
		都道府県<input type="text" readonly class="form-control-plaintext" name="prefecture" th:field="*{prefecture}"><br>
		住所１<input type="text" readonly class="form-control-plaintext" name="address1" th:field="*{address1}"><br>
		住所２<input type="text" readonly class="form-control-plaintext" name="address2" th:field="*{address2}"><br>
		電話番号<input type="text" readonly class="form-control-plaintext" name="phonenumber1" th:field="*{phonenumber1}">ー<input type="text" readonly class="form-control-plaintext" name="phonenumber2" th:field="*{phonenumber2}"><br>

		<input type="submit" value="送信" class="btn btn-outline-secondary">
		<input type="button" value="戻る" class="btn btn-outline-secondary" onClick="returnEdit()">
	</form>
	</div>
</div>
<footer th:replace="~{layout/component :: footer}"></footer>
</body>
</html>